import("httr")
import("jsonlite")

export("get_task")
export("get_proof")
export("account_info")

export("list_campaigns")
#export("list_extend")

export("zones")
export("categories")
export("get_campaign")
export("get_campaign_status")
export("list_tasks")
export("list_worker_tasks")
export("get_results")

export("basic_campaign")
export("hiregroup_campaign")

export("add_positions")
export("block_worker")
export("stop_campaign")
export("pause_campaign")
export("resume_campaign")
export("set_campaign_speed")

export("approve_task")
export("reject_task")
export("submit_proof")
